.labelwidget {
    display: flex;
}

.labelwidget-content {
    margin: auto;
}

.dummy {
    display: flex;
    cursor: pointer;
}

.dummy-content {
    margin: auto;
    text-align: center;
    width: 100%;
}

.dummy-value-right {
    float: right;
    text-align: right;
}

.box-content.switch {
    padding-top: 0;
    padding-bottom: 0;
}

.switch {
    display: flex;
    cursor: pointer;
}

.switch-content {
    margin: auto;
    text-align: center;
}

.slider {
    display: flex;
}

.value {
    color: @primary-bg;
    font-size: 16px;
    text-align: center;
}

.switch-off {
    color: #89a;
}

.switch-icon {
    font-size: 24px;
}

.slider-content {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
}

.slider-content-vertical {
    text-align: left;
    padding-bottom: 1.5em;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.slider-content-vertical .slider-label {
    width: 100%;
    text-align: center;
}

.slider-content-vertical .slider-container {
    text-align: center;
    margin: auto;
    height: 100%;
}

.slider-content-vertical .rzslider {
    text-align: left;
}

:not(.bigslider).rz-bubble {
    color: @primary-bg;
}
.rz-floor {
    color: #89a !important;
}

.rz-ceil {
    color: #89a !important;
}

.knob-content {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
}

.image {
    background: black;
    display: flex;
    border: 1px solid #456;
}

.image-content {
    margin: auto;
}

.image-content img {
    zoom: 15;
    width: 100%;
    height: 100%;
}

.icon.backdrop {
    position: absolute;
    top: 10%;
    bottom: 10%;
}

.icon.backdrop.center {
    left: 10%;
    right: 10%;
}

.icon.inline {
    display: inline;
}

.icon-tile-backdrop {
    margin: auto;
    filter: opacity(15%);
    -webkit-filter: opacity(15%);
    max-width: calc(100% - 20px);
    /*max-height: calc(100% - 20px);*/
}

.icon-tile-backdrop.colorize {
    filter: invert(60%) sepia(100%) hue-rotate(165deg) opacity(15%);
    -webkit-filter: invert(60%) sepia(100%) hue-rotate(165deg) opacity(15%);
}

.icon-tile.colorize.off {
    filter: invert(45%) sepia(80%) hue-rotate(170deg);
    -webkit-filter: invert(45%) sepia(80%) hue-rotate(170deg);    
}

.icon-tile.colorize {
    filter: invert(60%) sepia(100%) hue-rotate(185deg) saturate(1000%);
    -webkit-filter: invert(60%) sepia(100%) hue-rotate(185deg) saturate(1000%);
}