<div>
    <form name="_form" class="form-horizontal" ng-submit="submit(_form)">
        <div class="modal-header">
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
            <h3>Weather Settings</h3>
        </div>

        <div class="modal-body">
            <div class="form-group" ng-class="{error: _form.name.$error && _form.submitted}">
                <label class="control-label col-lg-3 col-md-3">City name</label>
                <div class="col-lg-9 col-md-9">
                    <input name="name" type="text" ng-model="form.name" class="form-control" />
                </div>
            </div>

            <div class="form-group" ng-class="{error: _form.conditionItem && _form.submitted}">
                <label class="control-label col-lg-3 col-md-3">Condition</label>
                <div class="col-lg-9 col-md-9">
                    <ui-select ng-model="form.conditionItem">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in items | filter: $select.search | filter: {type: 'String'}">
                            <div ng-bind-html="item.name | highlight: $select.search">
                            </div>
                            <small ng-bind-html="item.label | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>

                    <span class="help-block">Note: please provide raw condition value from Weather binding (with no map transform)</span>
                </div>
            </div>

            <!-- putting it as a separate setting as there's no option to point
            map transform from HABpanel -->
            <div class="form-group" ng-class="{error: _form.formattedConditionItem && _form.submitted}">
                <label class="control-label col-lg-3 col-md-3">Formatted Condition</label>
                <div class="col-lg-9 col-md-9">
                    <ui-select ng-model="form.formattedConditionItem">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in items | filter: $select.search | filter: {type: 'String'}">
                            <div ng-bind-html="item.name | highlight: $select.search">
                            </div>
                            <small ng-bind-html="item.label | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                    <span class="help-block">This item will be displayed underneath city name as formatted weather condition (e.g. "Thunderstorms")</span>
                </div>
            </div>

            <div class="form-group" ng-class="{error: _form.temperatureItem && _form.submitted}">
                <label class="control-label col-lg-3 col-md-3">Temperature</label>
                <div class="col-lg-9 col-md-9">
                    <ui-select ng-model="form.temperatureItem">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in items | filter: $select.search | filter: {type: 'Number'}">
                            <div ng-bind-html="item.name | highlight: $select.search">
                            </div>
                            <small ng-bind-html="item.label | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <hr>
            <h4>Additional fields</h4>
            <span class="help-block">You can put three items there (humidity, wind speed etc). Widget will show their value along with the icon</span>

            <div class="form-group" ng-class="{error: _form.firstItem && _form.submitted}">
                <label class="control-label col-lg-3 col-md-3">First item</label>
                <div class="col-lg-9 col-md-9">
                    <ui-select ng-model="form.firstItem">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in items | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search">
                            </div>
                            <small ng-bind-html="item.label | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group" ng-class="{error: _form.secondItem && _form.submitted}">
                <label class="control-label col-lg-3 col-md-3">Second item</label>
                <div class="col-lg-9 col-md-9">
                    <ui-select ng-model="form.secondItem">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in items | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search">
                            </div>
                            <small ng-bind-html="item.label | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group" ng-class="{error: _form.thirdItem && _form.submitted}">
                <label class="control-label col-lg-3 col-md-3">Third item</label>
                <div class="col-lg-9 col-md-9">
                    <ui-select ng-model="form.thirdItem">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in items | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search">
                            </div>
                            <small ng-bind-html="item.label | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <hr>

            <div class="form-group" ng-class="{error: _form.animateIcon.$error && _form.submitted}">
                <label class="control-label col-lg-3 col-md-3">Icon animation</label>
                <div class="col-lg-9 col-md-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="vertical" ng-model="form.animateIcon" /> Animate weather icon
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <a ng-click="remove()" class="btn btn-danger pull-left" tabindex="-1"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete</a>
            <a ng-click="dismiss()" class="btn btn-default" tabindex="-1"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</a>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Save</button>
        </div>
    </form>
</div>
