@import "_climaicon.scss";

.weather-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 60px);
}

.weather-row {
  margin: 0 10px;
  width: 100%;
}

.weather-icon {
  padding: 0;

  ng-include {
    width: 100%;

    svg {
      width: 100%;
    }
  }
}

.weather-condition {
  text-align: left;

  span {
    width: 100%;
    display: block;
  }

  span.weather-city {
    font-size: 2em;
    padding-top: .625em;
  }

  span.weather-condition-label {
    font-size: 1.5em;
    color: rgba(255,255,255,.7);
  }
}

.weather-temperature {
  text-align: right;
  padding-left: 0;
  span {
    font-size: 4em;
    white-space: nowrap;
  }
}

.weather-details {
  border-top: 1px solid rgba(255,255,255,.4);
  text-align: center;
  font-size: 1.25em;
  padding: 1em;
  color: rgba(255,255,255,.6);
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;

  img {
    width: 24px;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
}
